@font-face {
  font-family: "NotoSans";
  src: url("./Fonts/o-0IIpQlx3QUlC5A4PNr5TRA.woff2") format("woff2");
}

@font-face {
  font-family: "NotoSansBold";
  src: url("./Fonts/o-0NIpQlx3QUlC5A4PNjXhFVZNyB.woff2") format("woff2");
}
